<div>
  <div>All Phones</div>
  <div *ngFor="let phone of phones$ | async">
    <div>{{ phone.name }}</div>
    <div>{{ phone.capacity }}</div>
    <div>{{ phone.color }}</div>
    <div>{{ phone.manufacturer }}</div>
    <button (click)="addToCart(phone)">Add to cart</button>
  </div>
</div>


<div>
  <div>Cart</div>
  <div *ngFor="let item of cart$ | async; let i = index;">
    <div>{{ item.name }}</div>
    <div>{{ item.capacity }}</div>
    <div>{{ item.color }}</div>
    <div>{{ item.manufacturer }}</div>
    <button (click)="removeFromCart(i)">Remove</button>
  </div>
  <button *ngIf="(cart$ | async).length > 0" (click)="checkout()">Checkout</button>
</div>
